p Welcome to #{title}

a(href=download) Downloads

p.margin-top Download yum.repo
pre
  code curl --basic -u <i>username</i>:<i>password</i> #{url}etc/yum.repo | sudo tee /etc/yum.repos.d/#{title}.repo

p.margin-top Upload files with curl
pre
  code curl --basic -u <i>username</i>:<i>password</i> -F "dest=Test" -F "file=@filename" #{url}upload
